<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DEVOUR IT!!!</title>
    
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>

<body>
    <div class="banner">
        
            <h1 class="headline">Devour IT!!!</h1>
            <img class="picture" src="./assets/images/burger.jpg" width="450" height="300">
        <div class="burgs">
            <form action="/burgers/create" method="POST">
                <div>
                    <label for="new_burger"></label>
                    <input placeholder="Create Your Own Burger" type="text"  name="burger_name"></input>
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>

        <br>

        <div>
            {{{body}}}
        </div>
        
    </div>

</body>

</html>